* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #091019;
}

@font-face {
    font-family: 'victory';
    src: url("./assets/fonts/Victory-Striker-Sans-Demo.otf") format("opentype");
    font-display: swap;
}

nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
}

nav .logo {
    color: white;
}

nav .logo h4 {
    color: #27fbff;
    font-size: 10px;
    letter-spacing: 2px;
    opacity: 0.5;
}

nav .logo h1 {
    font-family: 'victory', sans-serif;
    letter-spacing: 2px;

}

nav .info {
    color: white;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
}

nav .info h4 {
    margin-bottom: 10px;
}

nav .category {
    color: white;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
}

nav .category h4 {
    margin-bottom: 5px;
}

nav .filters button {
    color: white;
    background-color: #141e28;
    padding: 20px;
    width: 120px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #1b293d;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .filters button .ri-equalizer-3-line {
    color: rgb(255, 255, 255);
    position: relative;
    left: 15px;
}

nav hr {
    color: white;
    opacity: 0.3;
    position: relative;
    left: 170px;
    height: 80px;
}


.main{
    padding: 80px 100px;
}

.top_row{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    align-items: flex-start;
}

.bottom_row{
    display: flex;
    gap: 30px;
}
.main .card{
    width: 230px;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
}


.full_square img{
    width: 550px;
    height: 430px;
    object-fit: cover;
    border-radius: 20px;
}


.card{
    width: 230px;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1a2430;
    flex-shrink: 0;
}
.card_image{
    width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center;
}
.info_box .white{
    width: 15px;
    height: 15px;
    position: relative;
    top: 10px;
    border-radius: 50%;
    background-color: white;
}
.info_box .white p{
    position: relative;
    left: 23px;
    top: 3px;
    font-size: 10px;
}
.info_box .grey{
    width: 15px;
    height: 15px;
    position: relative;
    top: 10px;
    border-radius: 50%;
    background-color: rgb(106, 106, 106);
}
.info_box .grey p{
    position: relative;
    left: 23px;
    top: 3px;
    font-size: 10px;
}
.info_box .blue_gloss{
    width: 15px;
    height: 15px;
    position: relative;
    top: 10px;
    border-radius: 50%;
    background-color: rgb(89, 116, 159);
}
.info_box .blue_gloss p{
    position: relative;
    left: 23px;
    top: 3px;
    font-size: 10px;
}
.info_box .blue{
    width: 15px;
    height: 15px;
    position: relative;
    top: -5px;
    left: 70px;
    border-radius: 50%;
    background-color: rgb(96, 151, 255);
}
.info_box .blue p{
    position: relative;
    left: 23px;
    top: 3px;
    font-size: 10px;
}
.bottom_row .card:nth-child(3) .info_box .blue{
    width: 15px;
    height: 15px;
    position: relative;
    top:10px;
    left: 0px;
    border-radius: 50%;
    background-color: rgb(96, 151, 255);
}
.bottom_row .card:nth-child(4) .info_box .white{
    width: 15px;
    height: 15px;
    position: relative;
    top:10px;
    left: 0px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.info_box .silver{
    width: 15px;
    height: 15px;
    position: relative;
    top: 10px;
    left: 0px;
    border-radius: 50%;
    background-color: rgb(166, 166, 166);
}
.info_box .silver p{
    position: relative;
    left: 23px;
    top: 3px;
    font-size: 10px;
}
.info_box .black{
    width: 15px;
    height: 15px;
    position: relative;
    top: 10px;
    left: 0px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
.info_box .black p{
    position: relative;
    left: 23px;
    top: 3px;
    font-size: 10px;
}
.card:nth-child(4) .info_box .white{
    width: 15px;
    height: 15px;
    position: relative;
    top: -5px;
    left: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.card:nth-child(4) .info_box .white p{
    position: relative;
    left: 23px;
    top: 5px;
    font-size: 10px;
}
.info_box{
    width: 100%;
    height: 100px;

    background: linear-gradient(to top, #1b2635, #2a3646);

    padding: 14px;
    color: white;
}
.info_box h3{
    font-size: 13px;
    margin-bottom: 5px;
}

.info_box p{
    font-size: 8px;
    opacity: 0.7;
    width: 500px;
}

.top_row .card:nth-child(2) .card_image{
    background-image: url("./assets/images/img1.png");
}

.top_row .card:nth-child(3) .card_image{
    background-image: url("./assets/images/img2.png");
}

.top_row .card:nth-child(4) .card_image{
    background-image: url("./assets/images/img3.png");
}

.bottom_row .card:nth-child(1) .card_image{
    background-image: url("./assets/images/img4.png");
}

.bottom_row .card:nth-child(2) .card_image{
    background-image: url("./assets/images/img5.png");
}

.bottom_row .card:nth-child(3) .card_image{
    background-image: url("./assets/images/img6.png");
}

.bottom_row .card:nth-child(4) .card_image{
    background-image: url("./assets/images/img7.png");
}

.full_square h3 {
    color: white;
    position: absolute;
    left: 340px;
    font-family: 'victory';
    font-size: 30px;
    top: 250px;

}

.full_square h3 sup {
    color: white;
    opacity: 0.6;
    font-size: 15px;
    position: relative;
    top: -15px;
    left: -5px;


}

.footer .features{
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
        background-color: #091019;
    border: 1px solid #233b5b;
    width: 90%;
    height: 110px;
    color: white;
    border-radius: 30px;
    position: relative;
    left: 100px;
}
.footer .features .f1 i{
    font-size: 40px;
    position: relative;
    top: 30px;
}
.footer .features .f1 h3{
    font-size: 15px;
    margin: 10px 0;
    font-weight: 100;
        position: relative;
    top: -20px;
    left: 50px;
}
.footer .features .f1 p{
    font-size: 15px;
    opacity: 0.7;
    position: relative;
    top: -29px;
    left: 50px;
}
.branding{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    color: white;
    background-color: #091019;
    border: 1px solid #253447;
    width: 90%;
    height: 80px;
    border-radius: 20px;
    position: relative;
    left: 100px;
    top: -20px;
}
.branding .nav ul{
    display: flex;
    gap: 20px;
    color: white;
    list-style: none;
}
.branding .nav ul li a{
    font-size: 15px;
    color: white;
    list-style: none;
    text-decoration: none;
    position: relative;
    top: -10px;
}
.branding .logo{
    display: flex;
    gap: 20px;
    position: relative;
    top: -10px;
}
.branding .logo .ri-remix-line{
    font-size: 40px;
    color: #ffffff;
}
.branding .socials{
    display: flex;
    gap: 20px;
    position: relative;
    top: -10px;
}